# Bytewise fellowship

In [2]:
num1=int(input("enter number 1: "))
num2=int(input(("enter number 2: ")))
operation=input("input your desired operation")
if operation =="+":
    result=num1+num2
elif operation == "-":
    result= num2-num1
elif operation == "*":
    result=num1*num2
else:
    result=num2/num1

print("the output is " + str(result))

enter number 1:  56
enter number 2:  78
input your desired operation *

the output is 4368

# Conditional statements

In [5]:
a= input("enter a num: ")
b= input("enter a num: ")

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

enter a num:  56
enter a num:  78

b is greater than a

# LOOPS

In [7]:
fruits=["bananas", "apples", "oranges", "peaches"]
for x in fruits:
    print(x)
    if x=="oranges":
        break

bananas
apples
oranges

In [15]:
asterick = 9
for i in range(5):
    print ("*" * asterick)
    asterick= asterick-2

*********
*******
*****
***
*

In [19]:
asterick= 1
for i in range(5):
    print("*" * asterick)
    asterick+=2

*
***
*****
*******
*********

In [20]:
asterick=1
spaces= " "
times=4
for i in range(5):
    print(spaces *times + "*" * asterick )
    asterick+=2
    times=times-1

    *
   ***
  *****
 *******
*********

In [21]:
asterick=9
spaces= " "
times=0
for i in range(5):
    print(spaces *times + "*" * asterick )
    asterick-=2
    times=times+1

*********
 *******
  *****
   ***
    *

In [31]:
letter = ["A", "B", "C", "D", "E" ]
max_length= len(letter)
times=4

for i in range(5):
    leading_spaces= " " * (times)
    line=" ". join(letter[:i+1])
    print(leading_spaces+line)
    times=times-1

    A
   A B
  A B C
 A B C D
A B C D E

In [26]:
asterick =1
for i in range (5):
    print("*" * asterick)
    asterick+=1

*
**
***
****
*****

In [40]:
letter = ["A", "B", "C", "D", "E" ]
max_length= len(letter)
times=0

for i in range(max_length,-1,-1):# (start num, stop num , -1 the times it decrement)
    leading_spaces= " " * (times)
    line= " ".join(letter[:i])
    print(leading_spaces+line)
    times=times+1

A B C D E
 A B C D
  A B C
   A B
    A

In [44]:
num = ["1", "2" , "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15"]
index=0
for i in range(5):
    line=" ".join(num[index:index+i+1])
    print(line)
    index+=i+1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15