# File Handling

In [9]:
# create a new file
file= open("student_file.txt" , 'x')

In [10]:
file=open("student_file.txt", "r")
print(file.read())
file.close()

In [11]:
file=open("student_file.txt" , "w")
data= """StudentID, Name, Age, Grade, Email
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
104, Hassan Raza, 23, B+, hassan.raza@example.com
105, Zara Ahmed, 19, A, zara.ahmed@example.com"""
file.write(data)
file.close()

In [12]:
file=open("student_file.txt", "r")
print(file.read())
file.close()

StudentID, Name, Age, Grade, Email
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
104, Hassan Raza, 23, B+, hassan.raza@example.com
105, Zara Ahmed, 19, A, zara.ahmed@example.com

In [13]:
file=open("student_file.txt", "r")
file.readline()

'StudentID, Name, Age, Grade, Email\n'

In [14]:
file=open("student_file.txt", "r")
for x in file:
    print(x)

StudentID, Name, Age, Grade, Email

101, Ahmed Khan, 20, A, ahmed.khan@example.com

102, Fatima Ali, 22, B, fatima.ali@example.com

103, Ayesha Shah, 21, A-, ayesha.shah@example.com

104, Hassan Raza, 23, B+, hassan.raza@example.com

105, Zara Ahmed, 19, A, zara.ahmed@example.com

In [15]:
file=open("student_file.txt", "a")
data_2= "\n106, Mahrukh Hafeez, 20, A+, mahrukh6777@example.com"
file.write(data_2)
file.close()

In [8]:
file=open("student_file.txt", "r")
for x in file:
    print(x)
file.close()

StudentID, Name, Age, Grade, Email

101, Ahmed Khan, 20, A, ahmed.khan@example.com

102, Fatima Ali, 22, B, fatima.ali@example.com

103, Ayesha Shah, 21, A-, ayesha.shah@example.com

104, Hassan Raza, 23, B+, hassan.raza@example.com

105, Zara Ahmed, 19, A, zara.ahmed@example.com

106, Mahrukh Hafeez, 20, A+, mahrukh6777@example.com

In [26]:
file=open("student_file.txt","r")
primary_key=file.read(9)
print(primary_key)

StudentID

In [37]:

# used chat gpt to understand this

file=open("student_file.txt","r")
header= file.readline()

studentlist=[]

for line in file:
    line=line.strip()
    commas=line.find(",")
    
    data=line[:commas]
    
    print("Student id is " +data)
    studentlist.append(line)
    for detail in studentlist:
        print(detail)
print( "the student id is")    
print(studentlist)
file.close()

Student id is 101
101, Ahmed Khan, 20, A, ahmed.khan@example.com
Student id is 102
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
Student id is 103
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
Student id is 104
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
104, Hassan Raza, 23, B+, hassan.raza@example.com
Student id is 105
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
104, Hassan Raza, 23, B+, hassan.raza@example.com
105, Zara Ahmed, 19, A, zara.ahmed@example.com
Student id is 106
101, Ahmed Khan, 20, A, ahmed.khan@example.com
102, Fatima Ali, 22, B, fatima.ali@example.com
103, Ayesha Shah, 21, A-, ayesha.shah@example.com
104, Hassan Raza, 23, B+, hassan.raza@example.com
105, Zara Ahmed, 19, A, zara.ahmed@example.com
106, Mahrukh Hafeez, 20, A+, mahrukh6777@example.com
the student id is
['101, Ahmed Khan, 20, A, ahmed.khan@example.com', '102, Fatima Ali, 22, B, fatima.ali@example.com', '103, Ayesha Shah, 21, A-, ayesha.shah@example.com', '104, Hassan Raza, 23, B+, hassan.raza@example.com', '105, Zara Ahmed, 19, A, zara.ahmed@example.com', '106, Mahrukh Hafeez, 20, A+, mahrukh6777@example.com']