# lists

In [3]:
students=['mehak', 'anushka', 'ali', 'muzna']
print(students[0])
print(type(students))
print(len(students))

mehak
<class 'list'>
4

In [12]:
student_2=['mehak', 12, "A+", "excellent student"] # mutable- lists can change
print(student_2[-1])
student_2[0]='ayehsa'
print(student_2[0])
#index slicing
student_2[1:3]

excellent student
ayehsa

[12, 'A+']

In [20]:
# # list method
# list.append()//mutate-change
# list.sort(asc)
# list.sort(reverse=True)(desc)
# list.add
# list.remove(element)
#list.pop(index)
list1=[3,7,3,4,5]
list1.append(6)
list1.sort(reverse=True)
list1.insert(4,8) # insert(index, data)
print(list1)

[7, 6, 5, 4, 8, 3, 3]

In [24]:
# tuples are immutabe
name=('maryam', 'usman', 'mehak')
name[0]
name.append('aliza')# tuple cannot be modified

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
products={'product_ID' : '104', 'product_name': ' lunchbox', 'product_quantity':'13', 'product_price': '2909'}
product_ID=['100', '456', '200', '104','45', '678', '234']
product_ID.sort()
products['products_status']='imported'
del products ['products_status']
price=products['product_price']
if int(price)> 1000:
    print(products['product_name']  + " is expensive")
else:
    print("reasonable")
if int(products['product_quantity'])<=1:
    product_2=set()
    product_2.add(products['product_name'])


print(product_2)

print(products)
print(product_ID)

 lunchbox is expensive
{' lunchbox'}
{'product_ID': '104', 'product_name': ' lunchbox', 'product_quantity': '13', 'product_price': '2909'}
['100', '104', '200', '234', '45', '456', '678']

In [67]:
products_list=[{'product_id':'104','product_name': ' lunchbox', 'product_quantity':'13', 'product_price': '2909'},
{'product_id':'105','product_name': ' pen', 'product_quantity':'10', 'product_price': '50'},
{'product_id':'106','product_name': ' book', 'product_quantity':'3', 'product_price': '500'},
{'product_id':'107','product_name': ' teddy bear', 'product_quantity':'1', 'product_price': '909'},
{'product_id':'108','product_name': ' glitters', 'product_quantity':'5', 'product_price': '45'}]
print(products_list)

print(products_list[3])

print(products_list[0]['product_name'])

[{'product_id': '104', 'product_name': ' lunchbox', 'product_quantity': '13', 'product_price': '2909'}, {'product_id': '105', 'product_name': ' pen', 'product_quantity': '10', 'product_price': '50'}, {'product_id': '106', 'product_name': ' book', 'product_quantity': '3', 'product_price': '500'}, {'product_id': '107', 'product_name': ' teddy bear', 'product_quantity': '1', 'product_price': '909'}, {'product_id': '108', 'product_name': ' glitters', 'product_quantity': '5', 'product_price': '45'}]
{'product_id': '107', 'product_name': ' teddy bear', 'product_quantity': '1', 'product_price': '909'}
 lunchbox

In [8]:
products_list=[{'product_id':'104','product_name': ' lunchbox', 'product_quantity':'13', 'product_price': '2909'},
{'product_id':'105','product_name': ' pen', 'product_quantity':'10', 'product_price': '50'},
{'product_id':'106','product_name': ' book', 'product_quantity':'3', 'product_price': '500'},
{'product_id':'107','product_name': ' teddy bear', 'product_quantity':'1', 'product_price': '909'},
{'product_id':'108','product_name': ' glitters', 'product_quantity':'5', 'product_price': '45'},
{'product_id':'201','product_name': ' laptop', 'product_quantity':'13', 'product_price': '246890'},
{'product_id':'301','product_name': ' baloons', 'product_quantity':'10', 'product_price': '76'},
{'product_id':'110','product_name': ' book', 'product_quantity':'3', 'product_price': '456'},
{'product_id':'167','product_name': ' bag', 'product_quantity':'1', 'product_price': '2000'},
{'product_id':'199','product_name': ' furniture', 'product_quantity':'5', 'product_price': '45000'}]
items=set()
for x in products_list:
    
    if int(x['product_quantity'])<=1:
        
        items.add(x['product_name'])
expensive=[]
reasonable=[]
for product in products_list:
    if int(product['product_price'])>1000:
        expensive.append(product['product_name'])
    else:
        reasonable.append(product['product_name'])

# used chat gpt to understand sorting by the order of the product id:
#lambda x:: Defines an anonymous function that takes one argument, x.
# int(x['product_id']): The function returns the product_id of x (a dictionary from the list), converted to an integer.

sorted_products = sorted(products_list, key=lambda x: int(x['product_id']))

print("Sorted Products List:")
for product in sorted_products:
    print(product)




print("\n expensive products are : ")
print(expensive)
print("\n reasonable products are : ")
print(reasonable)                          
print(items)

Sorted Products List:
{'product_id': '104', 'product_name': ' lunchbox', 'product_quantity': '13', 'product_price': '2909'}
{'product_id': '105', 'product_name': ' pen', 'product_quantity': '10', 'product_price': '50'}
{'product_id': '106', 'product_name': ' book', 'product_quantity': '3', 'product_price': '500'}
{'product_id': '107', 'product_name': ' teddy bear', 'product_quantity': '1', 'product_price': '909'}
{'product_id': '108', 'product_name': ' glitters', 'product_quantity': '5', 'product_price': '45'}
{'product_id': '110', 'product_name': ' book', 'product_quantity': '3', 'product_price': '456'}
{'product_id': '167', 'product_name': ' bag', 'product_quantity': '1', 'product_price': '2000'}
{'product_id': '199', 'product_name': ' furniture', 'product_quantity': '5', 'product_price': '45000'}
{'product_id': '201', 'product_name': ' laptop', 'product_quantity': '13', 'product_price': '246890'}
{'product_id': '301', 'product_name': ' baloons', 'product_quantity': '10', 'product_price': '76'}

 expensive products are :
[' lunchbox', ' laptop', ' bag', ' furniture']

 reasonable products are :
[' pen', ' book', ' teddy bear', ' glitters', ' baloons', ' book']
{' bag', ' teddy bear'}